.app-sidebar {
    width: 230px;
    height: 100%;
    margin-right: 10px;
    padding-left: 20px;
    background-color: #081A51;
}
.sb-name {
    width: 57px;
    height: 29px;
    left: 84px;
    top: 30px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}
.sb-main-menu {
    width: 100px;
    height: 14px;
    left: 30px;
    top: 125px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #51CBFF;
}
.sb-menu-box {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: auto;
}
.nav-box {
    width: 100%;
    height: 56px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #CCD2E3;
    border-radius: 5px;
}
.nav-box:hover {
    background: #1B2B65;;
}